<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en-IN' }}">

<head>
  {% include head.html %}
</head>

<body>

  {% include header.html %}

  <main class="site-main">

    <article class="page">

      {% if page.title %}
      <header class="page-header">
        <h1>{{ page.title }}</h1>

        {% if page.description %}
        <p class="page-description">
          {{ page.description }}
        </p>
        {% endif %}
      </header>
      {% endif %}

      <div class="page-content">
        {{ content }}
      </div>

    </article>

  </main>

  {% include footer.html %}

</body>
</html>
